@using Dominio;

@{
    ViewData["Title"] = "Lista Disco";
}

<h1>Lista Disco</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}

@if (ViewBag.Discos == null || ViewBag.Discos.Count == 0)
{
    <div class="alert alert-danger">No se encontraron discos en el sistema</div>
}
else
{
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Musico</th>
                <th>Año</th>
                <th>Likes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Disco d in ViewBag.Discos)
            {
                <tr>
                    <td>@d.Codigo</td>
                    <td>@d.Titulo</td>
                    <td>@d.Musico.Nombre</td>
                    <td>@d.Anio</td>
                    <td>@d.Likes</td>
                    @if (Context.Session.GetString("rol") == "Fan")
                    {
                        <td>
                            <form method="post" action="~/discos/darlike">
                                <input type="text" name="codigo" value="@d.Codigo" hidden/>
                                <input type="submit" value="Dar like" class="btn btn-primary"/>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td><a class="btn btn-primary" href="~/Discos/DetalleDisco?codigo=@d.Codigo">Detalle</a>&nbsp;&nbsp;<a class="btn btn-primary" href="~/Discos/CambiarNombre/@d.Codigo">Cambiar titulo</a></td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
}


